<h1 align="center">Battle</h1>
<h2 align="center">Battle with your friends to the death, the person who loses XP quickest loses</h2>
<h3 align="center">Register your name and lets get cracking!!</h3>

<form class="enterName" method="post" action="/names">
  <label for="player_1_name">
    Player 1 Name:
      <input type="text" class="playerOneName" name="player_1_name">
  </label>
  <label for="player_2_name">
    Player 2 Name:
      <input type="text" class="playerTwoName" name="player_2_name">
  </label>
      <input type="submit" value="Submit">
</form>
