<h2 align="center">It's time to start attacking the opposition, hurt them by clicking the attack button</h2>
<h3 align="center">Remember Rodney, he who dares......... WINS</h3>


<h4><%= @player_1_name %> vs. <%= @player_2_name %></h4>
<br>
<h4><%= @player_2_name %>: 100 points</h4>
<br>
<form class="attackButton" action="/attack">
  <input type="submit" value="Attack">
</form>
