<h2 align="center">It's time to start attacking the opposition, hurt them by clicking the attack button</h2>
<h3 align="center">Remember Rodney, he who dares......... WINS</h3>


<br>
<%= @player_1_name %> vs. <%= @player_2_name %>

<%= @player_2_name %>: <%= @player_2 %>HP
<br>
<form class="attackButton" action="/attack">
  <input type="submit" value="Attack">
</form>
